* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: 40px;
}

.nav-logo p {
    color: #2f2f2f;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 600;
}

.nav-menu .nav-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.nav-menu .nav-link:hover {
    color: #3d5afe;
}

.nav-menu li {
    position: relative;
    cursor: pointer;
}

.active-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #f71b1b;
    border-radius: 5px;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: #f71b1b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-login-cart button:hover {
    background-color: #ff5252;
}

.cart-icon-container {
    position: relative;
}

.nav-cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #ff5252;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}

@media (max-width: 768px) {
    .navbar {
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .nav-logo img{
        height: 20px;
        margin-left: 5px;
    }
    .nav-logo p {
         display: flex;
        font-size: 10px;
        margin-top: 20px;
    }
    .nav-menu {
        gap: 15px;
        display: flex;
    }
    .nav-menu .nav-link {
        font-size: 10px;
        display: flex;
        margin-top: 20px;
    }
    .nav-login-cart button {
        font-size: 10px;
        padding: 5px 10px;
    }
}